{{#partial "main"}}
    <div class="allRecipes">
        <div class="d-flex flex-row flex-wrap justify-content-around">
            <div class="d-flex flex-column">
                <a href="/view-recipe">title</a>
                <img src="img/donut.jpg" alt="">
            </div>
            <div class="d-flex flex-column">
                <a href="/view-recipe">title</a>
                <img src="img/muffin.jpg" alt="">
            </div>
            <div class="d-flex flex-column">
                <a href="/view-recipe">title</a>
                <img src="img/tart.jpg" alt="">
            </div>
            <div class="d-flex flex-column">
                <a href="/view-recipe">title</a>
                <img src="img/croissant.jpg" alt="">
            </div>
        </div>
    </div>
{{/partial}}

{{> base.hbs}}



