{{#partial "nav"}}
    <nav>
        <div id="sidebar" class="cSidebar">
            <button class="openButton" onclick="openNav()">☰</button>
            <a href="#">About&nbsp;us</a>
            <a href="#">News</a>
            <a href="#">Support</a>
        </div>
        <div id="navbutton">
            <button class="openButton" onclick="openNav()">☰</button>
        </div>
        <div id="logo">
            <a href="/">
                <img src="images/logo.png" alt="">
                <p id="pageTitle2B">CookPal</p>
            </a>
        </div>
        <div id="navButton">
            <a href="/sign-up" class="btn btn-primary">Sign&nbsp;Up</a>
            <a href="/sign-in" class="btn btn-primary">Sign&nbsp;In</a>
        </div>
    </nav>
{{/partial}}
{{> base.hbs}}

