{{#partial "main"}}

<main>
    <!-- Page content goes here-->

    <p align="right">
        <button id="editB">Edit</button>
        <button id="shareB">🔗 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Share Recipe</button>
        <!--
          <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
            <img src="https://pcdn.sharethis.com/wp-content/uploads/2017/05/Email.png" width="65" height="65"alt="Email" />
          </a>
        -->
    </p>
    <h2 style="text-align:center">Blueberry Muffins</h2>

    <table class="recipeT" style="width:60%;" border="1" cellpadding="0" cellspacing="8" align ="center">
        <tbody>
        <tr>
            <td id="picC">&nbsp;<img id="Blueberry" style="display:block;" width="207px" height="170px" src="https://www.simplyrecipes.com/wp-content/uploads/2019/06/Blueberry-Muffins-LEAD-2-1.jpg" border=0></td>
            <td id="nutritionC">
                <p>Fat    9 g</p>
                <p>Carbs   66.7 g</p>
                <p>Fiber   3.6 g</p>
                <p>Protein   7.6 g</p>
            </td>
        </tr>
        </tr>
        <tr>
            <td id="timeC">Estimated Time: 40 mins</td>
            <td id="instructionsT">Instructions</td>
        </tr>
        <tr>
            <td id="ingredientC">
                <ul>
                    <li>1 1/2 cups: all-purpose flour</li>
                    <li>3/4 cup granulated sugar</li>
                    <li>1/4 teaspoon fine sea salt</li>
                    <li>2 teaspoons baking powder</li>
                    <li>1/3 cup neutral-flavored oil</li>
                    <li>1 large egg</li>
                    <li>1/3 – 1/2 cup milk</li>
                    <li>1 1/2 teaspoons vanilla extract</li>
                    <li>1 cup fresh or frozen blueberries</li>
                </ul>
            </td>
            <td id="instructionsC">
                <ol>
                    <li>Whisk flour, sugar, baking powder, and a little salt in a large bowl.</li>
                    <li>Add oil, an egg, milk, and vanilla extract then stir with a fork until blended.</li>
                    <li>Mix in the blueberries, divide the batter between muffin cups and bake.</li>
                </ol>
            </td>
        </tr>
        </tbody>
    </table>


</main>

{{/partial}}

{{> base.hbs}}